#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// adjust mod-tap
&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <300>;
};

/ {

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
         };
        combo_bspc {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&kp BSPC>;
        };
    };


    conditional_layers {
        compatible = "zmk,conditional-layers";
        cond_layer_mgmt {
            if-layers = <1 4>;
            then-layer = <5>;
        };
    };


    keymap {
        compatible = "zmk,keymap";

        base_layer {
        bindings = <
        &kp Q              &kp W              &kp F              &kp P              &kp B              &kp J              &kp L              &kp U              &kp Y              &kp APOS
        &mt LGUI A         &mt LALT R         &mt LCTRL S        &mt LSHFT T        &kp G              &kp M              &mt LSHFT N        &mt LCTRL E        &mt LALT I         &mt LGUI O
        &kp Z              &kp X              &kp C              &kp D              &kp V              &kp K              &kp H              &kp COMMA          &kp PERIOD         &kp SLASH
                                                                 &lt 1 ENTER        &lt 2 BSPC         &lt 3 SPACE        &lt 4 TAB
        >;
        };

        symb_layer {
        bindings = <
        &none              &none              &none              &none              &none              &kp LBRC           &kp AMPS           &kp ASTRK          &kp LPAR           &kp RBRC
        &kp LGUI           &kp LALT           &kp LCTRL          &kp LSHFT          &kp ESC            &kp PLUS           &kp DLLR           &kp PRCNT          &kp CARET          &kp COLON
        &none              &kp RALT           &none              &kp DEL            &none              &kp PIPE           &kp EXCL           &kp AT             &kp HASH           &kp TILDE
                                                                 &none              &none              &kp UNDER          &kp RPAR
        >;
        };

        numb_layer {
        bindings = <
        &none              &none              &none              &none              &none              &kp LBKT           &kp N7             &kp N8             &kp N9             &kp RBKT
        &kp LGUI           &kp LALT           &kp LCTRL          &kp LSHFT          &kp COMMA          &kp EQUAL          &kp N4             &kp N5             &kp N6             &kp SCLN
        &none              &kp RALT           &none              &kp PERIOD         &none              &kp BSLH           &kp N1             &kp N2             &kp N3             &kp GRAVE
                                                                 &none              &none              &kp MINUS          &kp N0
        >;
        };

        navg_layer {
        bindings = <
        &kp PG_UP          &kp HOME           &kp UP             &kp END            &kp INS            &none              &none              &none               &none              &none
        &kp PG_DN          &kp LEFT           &kp DOWN           &kp RIGHT          &kp CAPS           &kp K_APP          &kp LSHFT          &kp LCTRL           &kp LALT           &kp LGUI
        &kp LC(Z)          &kp LC(X)          &kp LC(C)          &kp LC(V)          &kp LC(Y)          &none              &kp LS(LG(S))      &none               &kp RALT           &none
                                                                 &kp ENTER          &kp BSPC           &none              &none
        >;
        };

        funt_layer {
        bindings = <
        &kp F12            &kp F7             &kp F8             &kp F9             &kp PSCRN          &none             &none               &none               &none              &none
        &kp F11            &kp F4             &kp F5             &kp F6             &kp SLCK           &kp K_APP         &kp LSHFT           &kp LCTRL           &kp LALT           &kp LGUI
        &kp F10            &kp F1             &kp F2             &kp F3             &kp PAUSE_BREAK    &none             &kp K_MUTE          &none               &kp RALT           &none
                                                                 &kp ENTER          &kp BSPC           &none             &none
        >;
        };
        
        mgmt_layer {
        bindings = <
        &bt BT_CLR         &none              &none              &none              &none              &none             &none               &bootloader         &none              &none
        &none              &bt BT_PRV         &none              &bt BT_NXT         &none              &none             &none               &none               &none              &none
        &none              &none              &none              &none              &none              &none             &none               &none               &none              &none
                                                                 &none              &none              &none             &none
        >;
        };
    };    
};
